<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <!-- check if there is a variable myTitle passed along -->
    <% if (myTitle) { %>
    <!-- insert the variable here (like in JSX: <h1>{myTitle}</h1> ) -->
    <h1><%= myTitle %></h1>
    <% } %>
  </body>
</html>
